<div class="form__body">

    <div class="item">
        <div>Nome</div>

        <input type="text" name="name" value="{{ chef.name }}" required>

    </div>

    <div class="item">
        <div>Avatar</div>

        <div id="avatar-upload">
            <div class="upload-field">
                <input 
                    type="file" 
                    name="images" 
                    id="images"
                    accept="image/*"
                    onChange="avatarUpload.handleFileInput(event)"
                >
            
                <a class="button">Enviar Avatar</a>
            </div>

            <div class="avatar-preview">
                <img 
                    src="{% if chef.avatar_url %}{{chef.avatar_url}}{% else %}http://placehold.it/50x50{% endif %}" 
                    alt="avatar preview"
                >
            </div>
        </div>

    </div>

    {% if chef %}
        <input type="hidden" name="lastFileId" value="{{chef.file_id}}">
    {% endif %}
    
</div>