<div class="form__body">

    <div class="item">
        <div>Nome</div>

        <input type="text" name="name" value="{{ chef.name }}" required>

    </div>

    <div class="item">
        <div>Avatar</div>

        <input type="url" name="avatar_url" placeholder="https://" value="{{ chef.avatar_url }}" required>

    </div>

    
</div>