{% extends "admin/layout.njk" %}

{% block head %}
    <title>Perfil de {{chef.name}}</title>
{% endblock head %}

{% block content %}
    <section class="chef">
        <div class="chef__actions">
            <h2>Chef:
                {{chef.name}}</h2>
            {% if session.isAdmin %}
            <a class="button" href="/admin/chefs/{{ chef.id }}/edit">Editar Chef</a>
            {% endif %}
        </div>
        <div class="chef__head">

            <div class="chef__img">
                <img src="{{chef.avatar_url}}" alt="imagem do chef {{chef.name}}">
            </div>

            <div class="chef__title">
                <h1>{{chef.name}}</h1>

                <h3>
                    {% if chef.total_recipes > 0 %}
                        {{ chef.total_recipes }}
                        Receita{% if chef.total_recipes > 1 %}s{% endif %}
                    {% else %}
                        Nenhuma receita 
                    {% endif %}
                </h3>
            </div>
        </div>

        <div class="chef__content">
            <article class="recipe__ingredients">
                <div class="content__title">
                    <h2>Receitas</h2>
                </div>
                
                <div class="recipe__list">
                    {% for recipe in recipes %}
                        <div class="card">
                            <figure class="card__img">
                                <img src="{{recipe.src}}" alt="imagem de {{recipe.title}}">
                            </figure>

                            <div class="card__content">
                                <h3>{{recipe.title}}</h3>

                                <p>Por
                                    {{chef.name}}</p>
                                <a href="/admin/recipes/{{ recipe.recipe_id }}">visualizar</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </article>
        </div>
    </section>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}