<div class="form__body">

    <div class="item">
        <div>Nome</div>

        <input 
            type="text" 
            name="name" 
            value="{{ user.name }}"
            placeholder="Digite o nome completo"
        >
    </div>

    <div class="item">
        <div>Email</div>

        <input 
            type="email" 
            name="email" 
            value="{{ user.email }}" 
            onblur="Validate.apply(this, 'isEmail')"
            placeholder="Digite o email"
        >
    </div>

    <div class="item">

        <div class="checkbox" >
            <label class="checkbox-container">Administrador
                <input 
                    type="checkbox" 
                    name="isAdmin" 
                    id="isAdmin"
                    value="1"
                    onclick="isChecked.toggleInput()"
                >
                
                <span class="checkmark"></span>
            </label>
        </div>
    </div>

    <input
        type="hidden" 
        name="isAdmin" 
        id="hiddenAdmin"
        value="0"
    >
</div>