{% extends "layout.njk" %}

    {% block head %}
        <title>Receitas</title>
    {% endblock head %}
    
    
    {% block content %}

        <section id="page-recipes" class="content">
            <div class="cards">
                {% for recipe in recipes %}
                    <div class="card">
                        <figure class="card__img">
                            <img src="{{recipe.image}}" alt="imagem de {{recipe.title}}">
                        </figure>

                        <div class="card__content">
                            <h3>{{recipe.title}}</h3>
                            
                            <p>{{recipe.author}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

        <div class="modal-overlay">
            <div class="modal">
                <figure class="modal__img">
                    <img src="" alt="">
                </figure>

                <div class="modal__desc">
                    <h2>Asinhas de frango barbecue</h2>

                    <p>por Vania Steroski</p>

                </div>

                <div class="close__modal">
                    <a>Fechar modal</a>
                </div>
            </div>
        </div>
    
    {% endblock content %}

    {% block scripts %}
        <script src="/scripts/modal.js"></script>
    {% endblock scripts %}