{% extends "main/layout.njk" %}

{% block filter %}
    <form action="/search" method="get" class="form-filter">
        <input type="text" name="filter" placeholder="Buscar uma receita">

        <button type="submit">Buscar</button>
    </form>
{% endblock filter %}

{% block content %}
    <main id="page-home">
        <div class="main__content">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
    </main>

    <section class="content">
        <div class="content__title">
            <h2>Mais acessadas</h2>
        </div>
        {% if (recipes and recipes.length > 0) %}

            <div class="cards">
                {% for recipe in recipes %}

                    <div class="card">
                        <a href="/recipes/{{recipe.id}}">
                        <figure class="card__img">
                            <img src="{{recipe.src}}" alt="imagem de {{recipe.title}}">
                        </figure>

                        <div class="card__content">
                            <h3>{{recipe.title}}</h3>

                            <p>por {{recipe.chef_name}}</p>
                        </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <div class="no_content">
                <p>Nenhuma receita encontrada.</p>
            </div>
        {% endif %}
    </section>
{% endblock content %}
