<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head %}
            <title>Foodfy</title>
        {% endblock head %}

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
         rel="stylesheet">

        {% include 'parts/styles.njk'%}
    </head>

    <body>
        <div class="container" id="main">
            <header>
                <a class="logo__link" href="/">
                    <img src="/assets/logo.png" alt="foodfy logo">
                </a>

                <div class="links">
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                    <a href="/chefs">Chefs</a>
                </div>

                {% block filter %}{% endblock filter %}

                {% if session.userId %}
                    <div class="dashboard">
                        <a href="/admin" class="button">Dashboard</a>
                    </div>
                {% endif %}
            </header>

            {% block content %}{% endblock content %}

        {% include 'parts/login-button.njk' %} 
        
        </div>

        {% include 'parts/footer.njk' %}

        {# O LINK ESTÁ ABRINDO A PÁGINA DENTRO DA FUNÇÃO, VERIFICAR #}
        {% block scripts %}{% endblock scripts %}
        <script src="/scripts/main/main.js"></script>
        <script src="/scripts/fields.js"></script>
    </body>

</html>