{% extends "main/layout.njk" %}

{% block head %}
    <title>{{recipe.title}} - {{recipe.chef_name}}</title>
{% endblock head %}

{% block content %}
    <section class="recipe">
        <div class="recipe__head">

            <div id="gallery">
                <div class="highlight">
                    {% if not files[0] %}
                        <img 
                            src="https://www.placehold.it/980x300?text=RECEITA SEM IMAGEM"
                            alt="imagem da receita {{recipe.title}}"
                        >
                    {% else %}
                        <img src="{{files[0].src}}" alt="imagem da receita {{recipe.title}}">

                    {% endif %}
                </div>

                {% if files[1] %}
                    <div class="gallery-preview">
                    {% for image in files %}
                        <img 
                            src="{{image.src}}" 
                            alt="{{image.name}}"
                            {% if loop.index0 == 0 %}
                            class="active"
                            {% endif %}}
                            onclick="imageGallery.setImage(event)"
                        >
                    {% endfor %}
                </div>
                {% endif %}
                
            </div>

            <div class="recipe__title">
                <h1>{{recipe.title}}</h1>

                <h3>por {{recipe.chef_name}}</h3>
            </div>
        </div>

        <div class="recipe__content">
            <article class="recipe__ingredients">
                <div class="content__title"><h2>Ingredientes</h2><span>esconder</span></div>

                <div class="content__content active">
                    <div class="content__list">
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                        <li>{{ingredient}}</li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
            </article>

            <article class="recipe__preparation">
                <div class="content__title"><h2>Modo de Preparo</h2><span>esconder</span></div>

                <div class="content__content active">
                    <div class="content__list">
                    <ul>
                        {% for step in recipe.preparation %}
                        <li>{{step}}</li>
                        {% endfor %}
                    </ul>
                </div>
                </div>
            </article>

            <article class="recipe__addtional">
                <div class="content__title"><h2>Informações Adicionais</h2><span>esconder</span></div>

                <div class="content__content active">
                    <p>{{recipe.information}}</p>
                </div>
            </article>
        </div>
    </section>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/main/recipe.js"></script>
{% endblock scripts %}