#admin.container {
    margin: 0 auto;
}

#admin .header__content {
    height: 80px;
    
    background-color: black;

    width: 100%;
    margin-bottom: 20px;
}

#admin .header__content header {
    padding: 30px 0;
    
    height: 100%;
    width: 100%;
    max-width: 1000px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    overflow: hidden;
}

#admin header .header__head {
    display: flex;
}

#admin header .logo__link {
    margin-right: 50px;

    display: flex;
    align-items: center;
}

#admin .header__content header .links a {
    text-decoration: none;
    
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;

    color: #777777;
    
    margin-right: 30px;
}

#admin header .links a.active {
    color: #ffffff;
}

#admin header .logout-button form button {
    background: none;

    font-weight: bold;

    outline: none;
}

#admin .content {
    width: 100%;
    max-width: 1000px;

    margin: 20px auto;
}

#admin .content a {
    font-size: 14px;
    line-height: 16px;

    color: #6558C3;

    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
}

/* PADDING */
#admin .content__title,
.form__title {
    padding: 20px 0;
}

/* CARDS */

#admin .content .cards {
    grid-template-columns: 1fr 1fr;
}

#admin .cards .card {
    flex-direction: row;

    margin: 0;

    cursor: auto;
}

#admin .card .card__img {
    width: initial;
    height: 100%;

    margin: 0;

    padding-right: 20px;
}

#admin .card .card__img img {
    width: 172px;
    height: 80px;
}

#admin .card__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#admin .card__content h3 {
    font-size: 18px;
    line-height: 21px;
}

#admin #recipes .card__content > p {
    font-size: 14px;
    line-height: 16px;

}

#admin #recipes .card__content a {
    text-decoration: none;

    font: 700 Roboto 16px;
    
    color: #6558C3;

    margin-top: 10px;
}

/* CHEFS' CARDS */

#admin .cards#chefs {
    grid-template-columns: repeat(4, 1fr);
}

#admin #chefs .card__img img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

#admin #chefs .card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#admin #chefs .card__content h3 {
    margin-bottom: 0;
}

/* DETAILS */

#admin .recipe,
#admin .chef {
    width: 100%;
    max-width: 1000px;

    margin: 0 auto;

    animation: swipeUp .6s ease-out;
}

#admin .recipe__actions,
#admin .chef__actions {
    display: flex;
    justify-content: space-between;

    padding-top: 20px;
}

#admin a.button {
    display: inline-block;
    text-decoration: none;

    color: white;
    font-size: 16px;
    line-height: 19px;
}

#admin a.button.cancel {
    background-color: #8A8A8A !important;
}

#admin .recipe__title,
#admin .chef__title {
    margin: 30px 0;
    text-align: center;
}

#admin .recipe__title h1,
#admin .chef__title h1 {
    font-size: 36px;
    line-height: 46px;
}

#admin .recipe__title h3,
#admin .chef__title h3 {
    color: #777777;

    font-size: 20px;
    font-weight: 500;
}

#admin .recipe__content,
#admin .chef__content {
    padding-bottom: 20px;
}


#admin .content__title h2 {
    padding: 0;
    margin: 0;

    font-size: 24px;
    line-height: 34px;
}

#admin .content__content {
    display: none;
}

#admin .content__content.active {
    display: inline;
}

#admin .content__list {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;

    list-style-position: inside;
}

#admin .content__list ul {
    list-style-type: " - ";
}

/* RECIPES LIST */

#admin .chef__content .recipe__list {
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

#admin .recipe__list .card {
    width: 100%;
    display: flex;
}

#admin .recipe__list .card img {
    border-radius: 9px;
}

#admin .recipe__list .card__content a {
    font-weight: 700;
}

#admin #recipes .card__content p {
    padding: 0;
    margin: 0;
}

#admin .no_recipe {
    margin-top: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    animation: swipeUp .6s ease-out;
}

#admin .no_recipe p {
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;

    color: #777777;
}

#admin .no_recipe a {
    font-size: 16px;
    line-height: 26px;
    text-transform: none;
}

/* PHOTOS UPLOAD */

#admin #photos-field {
    display: flex;
    flex-direction: row;
    
    margin-top: 10px;
}

#admin .item #photos-upload,
#admin #photos-preview .photo {
    width: 150px;
    height: 150px;

    overflow: hidden;

    position: relative;

    border: 1px solid #DDDDDD;
    border-radius: 4px;

}

#admin .item #photos-upload i {
    position: absolute;
    
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28pt;
    color: #DDDDDD;

    overflow: hidden;
}

#admin .item #photos-upload input {
    position: absolute;    

    width: 100%;
    height: 150px;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;

    opacity: 0;

    z-index: 2;

    cursor: pointer;

    margin: 0;
    padding: 0;
}

#admin .item #photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    gap: 10px;

    height: 150px;
    margin-left: 10px;
}

#admin .item #photos-preview .photo {
    width: 100%;
    height: 100%;

    overflow: hidden;

    border: none;
}

#admin .item #photos-preview .photo img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 50% 50%;
}

#admin .item #photos-preview .photo i {
    position: absolute;
    
    background-color: rgba(255,255,255,0.7);
    color: red;
    font-size: 40px;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;

    opacity: 0;

    transition: opacity .4s ease;
}

#admin .item #photos-preview .photo i:hover {
    opacity: 1;
}

/* AVATAR UPLOAD */

#admin .item #avatar-upload {
    position: relative;

    display: flex;
    align-items: center;
}

#admin .item #avatar-upload input {
    position: absolute;
    display: block;

    width: 130px;
    height: 40px;

    margin: 0;
    padding: 0;

    overflow: hidden;
    opacity: 0;
}

#admin .item #avatar-upload a.button {
    color: white;
}

#admin #avatar-upload .avatar-preview {
    padding-left: 10px;
    height: 35px;
}

#admin #avatar-upload .avatar-preview img{
    width: 35px;
    height: 35px;

    object-fit: cover;

    border-radius: 50%;
}

/* CHECKBOX FORM */

#admin .item .checkbox {
    position: relative;
    padding-left: 20px;

    
}
#admin .item .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

#admin .item .checkbox .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 4px;

    transform: translateY(-50%);
}


#admin .item .checkbox:hover input ~ .checkmark {
    background-color: #eee;
}

#admin .item .checkbox input:checked ~ .checkmark {
    background-color: #6558C3;
}

#admin .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

#admin .checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

#admin .checkbox-container .checkmark:after {
    left: 3px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* INGREDIENTS */

#admin .input-field {
    margin: 10px 0;
}

#admin .input-field .ingredient-delete-button {
    margin: 0 !important;
}