.container {
    margin: 0 auto;
}

.header__content {
    height: 80px;
    
    background-color: black;

    width: 100%;
    margin-bottom: 20px;
}

.header__content header {
    padding: 30px 0;
    
    height: 100%;
    width: 100%;
    max-width: 1000px;

    margin: 0 auto;
    overflow: hidden;
}

.content {
    width: 100%;
    max-width: 1000px;

    margin: 20px auto;
}

.content a {
    font-size: 14px;
    line-height: 16px;

    color: #6558C3;

    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
}
/* PADDING */
.content__title,
.form__title {
    padding: 30px 0;
}

/* CARDS */

.content .cards {
    grid-template-columns: 1fr 1fr;
}

.cards .card {
    flex-direction: row;

    margin: 0;

    cursor: auto;
}

.card .card__img {
    width: initial;
    height: 100%;

    margin: 0;

    padding-right: 20px;
}

.card .card__img img {
    width: 172px;
    height: 80px;
}

.card__content h3 {
    font-size: 18px;
    line-height: 21px;

    margin-bottom: 5px;

}

.card__content p {
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0;
}

/* FORM */

.content__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button[type="submit"],
a.button {
    background-color: #6558C3;
    color: white;

    border: none;
    border-radius: 4px;

    padding: 8px 16px;

    font-size: 16px;
    line-height: 19px;

    font-weight: bold;

    cursor: pointer;
}

button.delete {
    background-color: #DC4747;
}

.item {
    width: 100%;

    margin-bottom: 30px;

    animation: swipeUp .6s ease-out;
}

.item div {
    font-size: 16px;
    font-weight: 700;
}

.item a.link__button {
    font-size: 16px;
    text-transform: none;

    cursor: pointer;
}

input,
textarea {
    width: 100%;
    
    padding: 8px 16px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;

    color: #111111;

    margin: 10px 0;

    border: 1px solid #DDDDDD;
    outline: none;
}

textarea {
    resize: none;
}

/*  IMPLEMENTAR FUNÇÃO DE EXCLUIR CAMPO

.preparation,
.ingredient {
    display: grid;
    grid-template-columns: 1fr 64px;
}

.item a.button {
    width: 100%;

    margin: 10px 0;

    border-bottom-left-radius: 0;
    border-top-left-radius: 0;

    text-align: center;
} */

/* DETAILS */

.recipe {
    width: 100%;
    max-width: 1000px;

    margin: 0 auto;

    animation: swipeUp .6s ease-out;
}

.recipe__actions {
    display: flex;
    justify-content: space-between;

    padding-top: 20px;
}

a.button {
    display: inline-block;
    text-decoration: none;
}

.recipe__head {
    display: flex;
    flex-direction: column;
}

.recipe__head img {
    border-radius: 16px;

    margin: 20px auto;
}

.recipe__title {
    margin: 30px 0;
    text-align: center;
}

.recipe__title h1 {
    font-size: 36px;
    line-height: 46px;
}

.recipe__title h3 {
    color: #777777;

    font-size: 20px;
    font-weight: 500;
}

.recipe__content {
    padding-bottom: 20px;
}


.content__title h2 {
    padding: 0;
    margin: 0;

    font-size: 24px;
    line-height: 34px;
}

.content__content {
    display: none;
}

.content__content.active {
    display: inline;
}

.content__list {
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;

    list-style-position: inside;
}

.content__list ul {
    list-style-type: " - ";
}

/* */