{% extends 'admin/layout.njk' %}

{% block head %}
    <title>Gerenciar contas</title>
{% endblock head %}
   
{% block content %}
     <section class="content" id="profile">
            <div class="content__title">
                <h2>Bem vindo Diego</h2>

                <button type="submit" class="button" form="f_profile">Salvar</button>
            </div>
                <form action="POST" action="/profile?_method=PUT" id="f_profile">
                    {% include 'admin/profile/fields.njk'%}
                </form>
            </div>
        </section>
{% endblock content %}

{% block scripts %}
    <script src="/scripts/fields.js"></script>
{% endblock scripts %}