{% extends 'admin/layout.njk' %}

{% block head %}
    <title>Gerenciar contas</title>
{% endblock head %}

{% block content %}
    <section class="content" id="profile">
        <div class="content__title">
            <h2>Bem vindo
                {{ user.name }}</h2>

            <button type="submit" class="button" form="f_profile">Salvar</button>
        </div>
        <form method="POST" action="/admin/profile?_method=PUT" id="f_profile">
            {% include 'admin/profile/fields.njk'%}

            <input type="hidden" name="id" value="{{ user.id }}">
        </form>
    </div>
</section>
{% endblock content %}

{% block scripts %}
<script src="/scripts/fields.js"></script>
{% endblock scripts %}