<div class="form__body">

    <div class="item">
        <div>Imagens da receita</div>
        
        <div id="photos-field">

            <div id="photos-upload">
                <input 
                    type="file" 
                    name="image" 
                    multiple
                    accept="image/*"
                    onChange="imagesUpload.handleFileInput(event)"
                >

                <i class="material-icons">
                    add
                </i>
            </div>
            <div id="photos-preview">

        </div>
        </div>

    </div>

    <div class="item">
        <div>Nome da receita</div>

        <input type="text" name="title" value="{{ recipe.title }}" required="required">

    </div>

    <div class="item">
        <div>Chef</div>

        <select name="chef_id">
            <option value="" disabled="disabled" invalid="invalid" selected="selected">Selecione uma opção</option>
            {% for option in options %}
                <option value="{{ option.id }}" {% if recipe.chef_id == option.id %} selected="selected" {% endif %}>{{ option.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="item" id="ingredients">
        <div>Ingredientes</div>

        <div class="ingredients">
            {% for ingredient in recipe.ingredients %}
                <div class="ingredient input-field">
                    <input type="text" name="ingredients[]" value="{{ ingredient }}" class="ingredient-field">

                    <button type="button" class="delete ingredient-delete-button">
                        <span class="material-icons">
                            close
                        </span>
                    </button>
                </div>
            {% endfor %}
            <div class="ingredient input-field">
                <input type="text" name="ingredients[]" value="" class="ingredient-field">

                <button type="button" class="delete ingredient-delete-button">
                    <span class="material-icons">
                        close
                    </span>
                </button>
            </div>
        </div>

        <a class="link__button add-ingredient">Adicionar novo ingrediente</a>
    </div>

    <div class="item" id="steps">
        <div>Modo de preparo</div>

        <div class="preparations">
            {% for step in recipe.preparation %}
                <div class="preparation input-field">

                    <input type="text" name="preparation[]" value="{{ step }}">

                    <button type="button" class="delete preparation-delete-button">
                        <span class="material-icons">
                            close
                        </span>
                    </button>
                </div>
            {% endfor %}

            <div class="input-field">
                <input type="text" name="preparation[]" value="" class="preparation-field">

                <button type="button" class="delete preparation-delete-button">
                    <span class="material-icons">
                        close
                    </span>
                </button>
            </div>
            
        </div>

        <a class="link__button add-step">Adicionar novo passo</a>
    </div>

    <div class="item">
        <div>Informações adicionais</div>

        <textarea name="information" cols="30" rows="10">{{ recipe.information }}</textarea>
    </div>
</div>