<div class="form__body">

    <div class="item">
        <div>Nome da receita</div>

        <input type="text" name="title" value="{{ recipe.title }}" required>

    </div>

    <div class="item">
        <div>Imagem da receita</div>

        <input type="url" name="image" placeholder="https://" value="{{ recipe.image }}" required>

    </div>

    <div class="item">
        <div>Chef</div>

        <select name="chef_id">
                <option value="" disabled invalid selected >Selecione uma opção</option>
            {% for option in options %}
                <option value="{{ option.id }}" {% if recipe.chef_id == option.id %} selected {% endif %}>{{ option.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="item" id="ingredients">
        <div>Ingredientes</div>

        <div class="ingredient">
            {% for ingredient in recipe.ingredients %}

                <input type="text" name="ingredients[]" value="{{ ingredient }}">
                {# <a class="button">X</a> #}

            {% endfor %}

            <input type="text" name="ingredients[]">
            {# <a class="button">X</a> #}
        </div>

        <a class="link__button add-ingredient">Adicionar novo ingrediente</a>
    </div>

    <div class="item" id="steps">
        <div>Modo de preparo</div>

        <div class="preparation">
            {% for step in recipe.preparation %}

                <input type="text" name="preparation[]" value="{{ step }}">

            {% endfor %}
            
            <input type="text" name="preparation[]">
        </div>

        <a class="link__button add-step">Adicionar novo passo</a>
    </div>

    <div class="item">
        <div>Informações adicionais</div>

        <textarea name="information" cols="30" rows="10">{{ recipe.information }}</textarea>
    </div>
</div>