{% extends "admin/layout.njk" %}

    {% block head %}
        <title>Gerenciar receitas</title>
    {% endblock head %}

    {% block content %}
        <section class="content" id="recipes">
            <div class="content__title">
                <h2>Gerenciar receitas</h2>
            </div>
            <div class="cards">
                {% for recipe in recipes %}
                    <div class="card">
                        <figure class="card__img">
                            <img src="{{recipe.src}}" alt="imagem de {{recipe.title}}">
                        </figure>

                        <div class="card__content">
                            <h3>{{recipe.title}} {% if session.userId == recipe.user_id %}(Sua){% endif %}</h3>
                            
                            <p>Por {{recipe.chef_name}}</p>
                            <a href="/admin/recipes/{{ recipe.id }}">visualizar</a>
                        </div>
                    </div>

                {% endfor %}
            </div>
            {% if recipes == 0 %}
                <div class="no_recipe">
                    <p>Você ainda não tem receitas cadastradas.</p>

                    <a href="/admin/recipes/create">Crie sua primeira receita</a>
                </div>
            {% endif %}
        </section>
    {% endblock content %}
    