<div class="header__content">
    <header>
        <div class="header__head">
            <a class="logo__link" href="/">
                <img src="/assets/white-logo.png" alt="foodfy logo">
            </a>

            <div class="links">
                <a href="/admin/recipes">RECEITAS</a>
                <a href="/admin/chefs">CHEFS</a>
                {% if session.isAdmin %}
                <a href="/admin/users">USUÁRIOS</a>
                {% endif %}
                <a href="/admin/profile">MINHA CONTA</a>
            </div>
        </div>

        {% if session %}
        <div class="logout-button">
            <form action="/logout" method="post">
                <button type="submit">SAIR</button>
            </form>
        </div>
        {% endif %}
    </header>
</div>